.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
.DS_Store
ff-iOS/ff-iphone-app/FFiPhoneApp.xcodeproj/xcuserdata/
ff-iOS/ff-iphone-app/FFiPhoneApp.xcworkspace/xcshareddata/
ff-iOS/ff-iphone-app/Pods/Pods.xcodeproj/xcuserdata/
ff-iOS/ff-iphone-app/FFiPhoneApp.xcworkspace/xcuserdata/